<div class="row">
  <div class="article-wrapper">
    <article class="single-post">
      <header>
        <h4>by {{post.author.username}}</h4>
        <em>@ {{post.created | date: "HH:mm dd-MM-yyyy"}}</em>
        <div class="btn-group btn-group-xs" role="group">
          <button class="btn btn-danger" ng-click="deletePost(post.id)"><i class="fa fa-trash"></i></button>
          <button class="btn btn-primary" ng-click="showEdit = !showEdit"><i class="fa fa-edit"></i></button>
        </div>
      </header>
      <form novalidate name="editPostForm" class="edit-post" ng-class="{'hidden': !showEdit}">
        <div class="form-group">
          <label for="post-author{{post.id}}">Choose author</label>
          <select ng-change="editAuthor(post)" ng-required="true" class="form-control" name="author" id="post-author{{post.id}}" ng-options="author.id as author.username for author in authors" ng-model="post.author.id"></select>
        </div>
        <div class="form-group">
          <label for="post-content{{post.id}}">Reply</label>
          <textarea ng-required="true" class="form-control" name="post-content" id="post-content{{post.id}}" cols="30" rows="10" ng-model="post.content"></textarea>
        </div>
        <button class="btn btn-success" ng-disabled="!editPostForm.$valid" ng-click="editPost(post, editPostForm)">Save</button>
        <span ng-show='showSave' class="feedback" ng-class="{'fade-out': saveFadeOut}"><i class="fa fa-floppy-o"></i> Saved...</span>
      </form>
      <p class="text-justify">{{post.content}}</p>
    </article>
  </div>
</div>
