
section {
  header {
    margin-bottom: 15px;
  }
  .row {
    .filter-element {
      padding-bottom: 15px;
    }
  }
}

.topics-list {
  .list-group-item {
    display: inline-block;
    width: 100%;
    .topics-details {
      padding-left: 20px;
    }
  }
}

.view-wrapper {
  margin-bottom: 50px;
}
.feedback {
  opacity: 1;
  padding-left: 15px;
}
.fade-out {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}
