<section class="error-404">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <header>
          <h1>404</h1>
          <h3>Not found</h3>
        </header>
      </div>
    </div>
  </div>
</section>
